@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body
{
    padding: 50px;
    font: 16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #D1D1D1;
}

.wrapper
{
    width: 860px;
    margin: 0 auto;
}
